.customer_wrapper {
  margin: 0 auto;
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.customer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 240px;
  height: 100px;
}