.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background: rgb(242,241,239);
  height: 1000px;
  overflow: hidden;
}
.wrapper__header {
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
  position: relative;

}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
    .header__talk {
      border: 1px solid black;
      padding: 10px 30px;
      margin: 27px;
      cursor: pointer;
    }
}

.logo_content {
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
    font-weight: 700;
    font-size: 25px;
  }
}

.header__linc {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin: 0 32px;
  color: black;
}

//============================================

.header__section {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.section__content {
  font-family: sans-serif;
  margin: 60px 60px 0 0 ;
  p {
    text-transform: uppercase;
    font-size: 60px;
  }
}
.section__sub__content {
  font-size: 25px;
  padding-top: 25px;
  text-transform: uppercase;
  svg {
    margin: 0 15px;
  }
}

.header__buttons {
  display: flex;
  padding-top: 55px;
}

.section__button1 {
  background-color: black;
  width: 200px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.section__button2 {
  padding: 10px 30px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}

.section__img {
  margin-top: 60px;
}
//============================================

.header__line {
  //position: absolute;
  //left: 19%;
  //top: 80%;
  background-color: black;
  width: 5000px;
  //height: 200px;
  transform: rotate(-5deg);
  padding: 20px 0;
  //div {
  //  max-height: 10px;
  //}
    span {
      color: white;
      text-transform: uppercase;
      align-items: center;
      margin: 0 27px;
    }
    svg {
      margin: 0 20px;
    }
}